<% provide(:title, 'All Users') %>


<h1>検索結果</h1>

<%= form_with class:"kennsaku", model: User.new, method: :get, local: true do |f| %>
  <%= f.label :name, 'ユーザー名検索' %><br>
  <%= f.text_field :name, value: (params[:user][:name] if params[:user]) %>
  <%= f.submit '検索' %>
<% end %>





<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">

    <% @users.each do |user| %>
      <tr>
        <td>
          <% if current_user.admin? %>
            <%= link_to user.name, user %>
          <% else %>
            <%= user.name %>
          <% end %>
        </td>
        <td class="center">
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>
